<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css"> 
    
    <title>weather app</title>
</head>
<body>
    <div id="main-content">
        {{>header}}
    
        <p>About content</p>
    </div>
     {{>footer}}
     <p>Icon info <b>
        <a href="https://www.flaticon.com/free-icons/cloud" title="cloud icons">Cloud icons created by Freepik - Flaticon</a>
     </b></p>
</body>
</html>