<header> 
    <h1> {{title}}</h1>

    <div id="sec">
    <form>
            <input type="text" placeholder="Location">
            <button> Search</button>
    </form>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    </div>
    
</header>
